
.header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 30px;
    overflow: hidden;
    background-color: #ffffff;
    padding: 10px 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.header a {
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    color: #303030;
    background-color: #fff;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    margin: -2px .5em;
    padding: .5em 2em;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.header a:hover {
    border: 2px;
    background-color: #4b77a8;
    color: #ffffff;
}

.header a.active {
    background-color: #4b77a8;
    color: #ffffff;
}

.header-right {
    margin-right: 5em;
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

body {
    margin: 0;
    background-color: #4b77a8;
    background-repeat: no-repeat;
    display: flex;
    cursor: default;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Comfortaa', cursive;
}


.todo {
    background-size: cover;
    color: #303030;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width:auto;
    height:auto;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 16px;
    text-align: center;
    transition: all 0.2s ease;
}

ul{
    padding-inline-start: 0px;
    margin: 8px 0;
    font-size: 16px;
    cursor: pointer;
    list-style-type: none;
}

.input-field {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    display: block;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.add {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    color: #303030;
    background-color: #fff;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.add {
    color: #4b77a8;
}

.add:hover {
    background-color: #4b77a8;
    color: white;
    border-color: #4b77a8;
}

.input-field {
    color: #303030;
    cursor: text;
}