
body {
    cursor: default;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Comfortaa', cursive;
    background-color: #4b77a8 ;
    background-repeat: no-repeat;
    background-size: cover;
    color: #303030;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.todo {
    position: relative;
    margin: 0;
    padding: 40px;
    width:auto;
    height:auto;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-size: 16px;
    text-align: center;
    transition: all 0.2s ease;
}

li{
    margin: 8px 0;
    display: flex;
    font-size: 16px;
    cursor: pointer;
    list-style-type: none;
}

.save, .clear, .input-field, .add{
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    color: #303030;
    background-color: #fff;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.editEnt{
    position: absolute;
    right: 0;
    margin: -3px 7em 0 0;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    color: #ffffff;
    background-color: #b2b2b2;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: 2px 6px;
    outline: none;
    border: 1px solid;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.editEnt:hover{
    background-color: #4b77a8;
    color: #ffffff;
}

.editInput {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    color: #b2b2b2;
    background-color: #fff;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.input-field-2 {
    position: absolute;
    left: 70px;
    height: 1.5em;
    width: 49%;
    padding-left: 7px;
    margin-top: -4px;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    color: #4b77a8;
    background-color: #fff;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.close {
    position: absolute;
    right: 0;
    margin: -3px 5em 0 0;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    color: #ffffff;
    background-color: #b2b2b2;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: 2px 6px;
    outline: none;
    border: 1px solid;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.close:hover {
    background-color: #4b77a8;
}

.edit{
    position: absolute;
    right: 0;
    margin: -3px 7em 0 0;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    display: inline-block;
    color: #ffffff;
    background-color: #b2b2b2;
    font-weight: 700;
    text-decoration: none;
    user-select: none;
    padding: 2px 6px;
    outline: none;
    border: 1px solid;
    border-radius: 8px;
    transition: 0.2s;
    cursor: pointer;
}

.edit:hover {
    background-color: #4b77a8;
}

.add {
    color: #4b77a8;
}

.add:hover {
    background-color: #4b77a8;
    color: white;
    border-color: #4b77a8;
}

.input-field{
    color: #303030;
    cursor: text;
}

.checked{
    color:gray;
    text-decoration:line-through;
}

.save:hover, .clear:hover {
    color: #4b77a8;
    cursor: pointer;
}
